<div class="container">
  <div class="row row-cols-sm-4 gy-5">
    <% @products.sort.each do |product| %>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <div class="ratio ratio-1x1">
            <%= cl_image_tag "mdhhilvsbza01jnqrmku", alt: "Product", class: "object-fit-cover opacity-50" %>
          </div>
          <div class="card-header">
            <%= product.sku %>
          </div>
          <div class="card-body">
            <h5 class="card-title fs-2"><%= product.name %></h5>
            <p class="card-text fst-italic"><%= product.sold? ? "sold" : "available" %></p>
            <p class="card-text text-end"><%= "$#{product.unit_price}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
