<div class="container">
  <div class="dropdown-center text-center">
    <a class="dropdown-toggle text-decoration-none link-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Display
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Available items", objects_products_path(display: "available"), class: "dropdown-item text-decoration-none link-secondary fs-3" %></li>
      <li><%= link_to "Sku from the oldest", objects_products_path(display: "oldest"), class: "dropdown-item text-decoration-none link-secondary fs-3" %></li>
      <li><%= link_to "Sku from the newest", objects_products_path(display: "newest"), class: "dropdown-item text-decoration-none link-secondary fs-3" %></li>
      <li><%= link_to "Price from the lowest", objects_products_path(display: "price_lowest"), class: "dropdown-item text-decoration-none link-secondary fs-3" %></li>
      <li><%= link_to "Price from the highest", objects_products_path(display: "price_highest"), class: "dropdown-item text-decoration-none link-secondary fs-3" %></li>
    </ul>
  </div>
  <br>
  <div class="row row-cols-sm-4 gy-5">
    <% @products.each do |product| %>
      <div class="col d-flex justify-content-center">
        <div class="card rounded-4" style="width: 18rem">
          <div class="ratio ratio-1x1">
            <% if !product.photo.attached? %>
              <%= cl_image_tag "v1694926417/development/The_Funky_2_pkyvzk" , alt: "Product", class: "object-fit-cover opacity-50 rounded-top-4" %>
              <% #"background_iuukz2" %>
            <% else %>
              <%= cl_image_tag product.photo.key, alt: "Product", class: "object-fit-cover opacity-50 rounded-top-4" %>
            <% end %>
          </div>
          <div class="card-header d-flex justify-content-between align-items-center">
            <% if product.sold? %>
              <%= product.sku %>
            <% else %>
              <%= link_to toggle_bookmark_objects_product_path(product), class: "text-decoration-none #{ "text-warning" if current_objects_user.favorited?(product) }", data: { turbo_method: :post }, style: "color: black", onclick: "this.classList.toggle('text-warning')" do %>
                <%= product.sku %>
              <% end %>
            <% end %>
            <div>
              <% unless product.sold? %>
                <%= link_to edit_objects_product_path(product), class: "fs-4 text-decoration-none link-secondary pe-3" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
              <% end %>
              <%= link_to objects_product_path(product), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?"}, class: "fs-4 text-decoration-none link-secondary" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fs-2"><%= product.name %></h5>
            <p class="card-text fst-italic <%= product.sold? ? "text-danger" : "" %>"><%= product.sold? ? "sold" : "available" %></p>
            <p class="card-text text-end"><%= "$#{product.unit_price}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
