<div class="container">
  <%= simple_form_for @product do |form| %>
    <%= form.input :name %>
    <%= form.input :unit_price %>
    <%= form.input :quantity %>
    <%= form.submit 'Add product(s)' %>
  <% end %>
</div>
