<div class="container">
  <%= image_tag "logo.png", alt: "Logo", width: 300, class: "mx-auto d-block" %>
  <div class="fs-1">INVOICE</div>
  <br>
  <%= simple_form_for [@invoice] do |each| %>
    <%= each.input :order_date %>
    <%= each.input :billed_to %>
    <%= each.submit %>
  <% end %>
</div>
