<div class="container">
  <div class="fs-1">INVOICE</div>
  <div class="fs-5 d-flex justify-content-between">
    <div>ORDER DATE: <%= @invoice.order_date %></div>
    <div>Order No.: <%= "INV#{@invoice.invoice_number}" %></div>
  </div>
  <div class="fs-5">BILLED TO: <%= @invoice.billed_to %></div>
  <table class="table table-striped table-borderless my-5">
    <thead>
      <tr class="text-center">
        <th scope="col">ITEM NO.</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">QTY</th>
        <th scope="col">UNIT PRICE</th>
        <th scope="col">AMOUNT(HK$)</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.products.each do |product| %>
        <tr class="text-center">
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td>1</td>
          <td><%= product.unit_price %></td>
          <td><%= product.unit_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <p class="m-0">Sub-total</p>
    <p class="m-0"><%= @sub_total %></p>
  </div>
  <p class="m-0">Shipping Fee</p>
  <p class="m-0">[Discount (20%)]</p>
  <hr>
  <div class="d-flex justify-content-between">
    <div class="fs-5">TOTAL:</div>
    <div class="fs-5">HK$</div>
  </div>
  <div class="$font-size-4 my-5">
    Thank you for shopping with us.  We hope our artisanal objects will shed some light and warmth in your daily life.
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <div><i class="fa-solid fa-phone"></i>  +852 9511 7552</div>
    <div><i class="fa-brands fa-instagram"></i>  theobjects_1124</div>
    <div><i class="fa-regular fa-envelope"></i>  theobjectsatelier@gmail.com</div>
  </div>
</div>
