<div class="container">
  <div class="fs-1">Log in</div>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "fs-3" } %>
      <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "fs-3" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-secondary fs-3" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
