<p>Products already in invoice</p>
<div class="row row-cols-sm-4 gy-4">
  <% @products_to_display[:existing_products].sort.each do |product| %>
    <div class="col d-flex justify-content-center">
      <div class="card rounded-4" style="width: 15rem">
        <div class="ratio ratio-1x1">
          <% if !product.photo.attached? %>
            <%= cl_image_tag "background_iuukz2", alt: "", class: "object-fit-cover opacity-50 rounded-top-4" %>
            <% # "v1694926417/development/The_Funky_2_pkyvzk" %>
          <% else %>
            <%= cl_image_tag product.photo.key, alt: "Product", class: "object-fit-cover opacity-50 rounded-top-4" %>
          <% end %>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <%= product.sku %>
          <%= link_to remove_products_objects_invoice_path(@invoice, product), data: { turbo_method: :post, turbo_confirm: "Remove item from invoice?" }, class: 'text-decoration-none link-secondary' do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title fs-2"><%= product.name %></h5>
          <p class="card-text text-end"><%= "$#{product.unit_price}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<p>Products to be added</p>
<div class="row row-cols-sm-4 gy-4">
  <% @products_to_display[:newly_bookmarked_products].sort.each do |product| %>
    <div class="col d-flex justify-content-center">
      <div class="card rounded-4" style="width: 15rem">
        <div class="ratio ratio-1x1">
          <% if !product.photo.attached? %>
            <%= cl_image_tag "background_iuukz2", alt: "", class: "object-fit-cover opacity-50 rounded-top-4" %>
            <% # "v1694926417/development/The_Funky_2_pkyvzk" %>
          <% else %>
            <%= cl_image_tag product.photo.key, alt: "Product", class: "object-fit-cover opacity-50 rounded-top-4" %>
          <% end %>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
          <%= product.sku %>
          <%= link_to remove_products_objects_invoice_path(@invoice, product), data: { turbo_method: :post, turbo_confirm: "Remove item from invoice?" }, class: 'text-decoration-none link-secondary' do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title fs-2"><%= product.name %></h5>
          <p class="card-text text-end"><%= "$#{product.unit_price}" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
