<div class="my-4">
  <%= simple_form_for @invoice do |form| %>
    <%= form.input :order_date, input_html: { class: 'fs-4' } %>
    <%= form.input :billed_to, input_html: { class: 'fs-4' } %>
    <% if @invoice.new_record? %>
      <p>New invoice selections</p>
      <div class="row row-cols-sm-4 gy-4">
        <% @products_to_display.sort.each do |product| %>
          <%= render partial: 'product_cards', locals: { product: product } %>
        <% end %>
      </div>
    <% else %>
      <p><%= "INV#{@invoice.invoice_number}" %> items</p>
      <div class="row row-cols-sm-4 gy-4">
        <% @products_to_display[:existing_products].sort.each do |product| %>
          <%= render partial: 'product_cards', locals: { product: product } %>
        <% end %>
      </div>
      <br>
      <p><%= "INV#{@invoice.invoice_number}" %> new selections</p>
      <div class="row row-cols-sm-4 gy-4">
        <% @products_to_display[:newly_bookmarked_products].sort.each do |product| %>
          <%= render partial: 'product_cards', locals: { product: product } %>
        <% end %>
      </div>
    <% end %>
    <br>
    <%= form.input :shipping_fee, label: 'Shipping fee ($)', input_html: { class: 'fs-4' } %>
    <%= form.label :discount_type, 'Discount', input_html: { class: 'fs-4' } %>
    <%# Below, array 0 is label and array 1 is value %>
    <%= form.select :discount_type, [['Percentage (%)', 'percentage'], ['Absolute amount', 'amount']], {}, input_html: { class: 'fs-4' } %>
    <%= form.input :discount_input, label: false, input_html: { class: 'fs-4 mt-2' } %>
    <%= form.submit @invoice.new_record? ? 'Create invoice' : 'Edit invoice', class: "my-3" %>
  <% end %>
</div>
