<div class="my-4">
  <%= simple_form_for @invoice do |form| %>
    <%= form.input :order_date, input_html: { class: 'fs-4' } %>
    <%= form.input :billed_to, input_html: { class: 'fs-4' } %>
    <% if @invoice.new_record? %>
      <%= form.input :objects_product_ids, collection: ObjectsProduct.where(sold: false).order(sku: :asc), label_method: :sku_and_name, value_method: :id, as: :check_boxes, input_html: { class: 'fs-4' }, label: "Products" %>
    <% else %>
      <% sold_product_ids = @invoice.objects_products.pluck(:id) %>
      <%= form.input :objects_product_ids, collection: ObjectsProduct.where(sold: false).or(ObjectsProduct.where(id: sold_product_ids)).order(sku: :asc), label_method: :sku_and_name, value_method: :id, as: :check_boxes, checked: sold_product_ids %>
    <% end %>
    <%= form.input :shipping_fee, label: "Shipping fee ($)", input_html: { class: 'fs-4' } %>
    <%= form.input :discount, label: "Discount (%)", input_html: { class: 'fs-4' } %>
    <%= form.submit @invoice.new_record? ? 'Create invoice' : 'Edit invoice' %>
  <% end %>
</div>
