<div class="container" style="width: 80%">
  <div class="row justify-content-center">
    <% if ObjectsInvoice.all.empty? %>
      <div class="fs-2 text-center text-secondary">Your invoice list is empty.</div>
    <% end %>
    <% @expected_invoice_numbers.sort.each do |number| %>
      <div class="card text-bg-light m-3 position-relative" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <% if @existing_invoice_numbers.include?(number) %>
              <% invoice = ObjectsInvoice.find_by_invoice_number(number) %>
              <%= link_to objects_invoice_path(invoice), class:"fs-4 text-decoration-none link-secondary" do %>
                <%= "INV#{number}" %>
              <% end %>
              <div class="d-flex position-absolute bottom-0 end-0">
                <%= link_to edit_objects_invoice_path(invoice), class: "fs-4 link-secondary p-2" do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
                <%= link_to objects_invoice_path(invoice), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this invoice?"}, class: "fs-4 link-secondary p-2" do %>
                  <i class="fa-solid fa-minus"></i>
                <% end %>
              </div>
            <% else %>
              <%= link_to objects_invoices_path, class:"fs-4 text-decoration-none link-secondary" do %>
                <%= "VOIDED" %>
              <% end %>
            <% end %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
