<div class="container">
  <div class="fs-1">INVOICE</div>
  <div class="fs-3 d-flex justify-content-between">
    <div class="text-start">ORDER DATE: <%= @invoice.order_date %></div>
    <div class="text-end">Order No.: <%= "INV#{@invoice.invoice_number}" %></div>
  </div>
  <div class="fs-3">BILLED TO: <%= @invoice.billed_to %></div>
  <div class="table-responsive-sm">
    <table class="table table-striped table-borderless my-4">
      <thead>
        <tr class="fs-3 text-center">
          <th scope="col" class="align-top">ITEM NO.</th>
          <th scope="col" class="align-top">DESCRIPTION</th>
          <th scope="col" class="align-top">QTY</th>
          <th scope="col" class="align-top">UNIT PRICE</th>
          <th scope="col" class="align-top">AMOUNT(HK$)</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.objects_products.sort.each do |product| %>
          <tr class="fs-3 text-center">
            <td><%= product.sku %></td>
            <td><%= product.name %></td>
            <td><%= product.quantity %></td>
            <td><%= product.unit_price %></td>
            <td><%= product.unit_price * product.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <p class="fs-3 m-0">Sub-total</p>
    <p class="fs-3 m-0"><%= @sub_total %></p>
  </div>
  <% unless @invoice.discount_percentage.nil? || @invoice.discount_percentage.zero? %>
    <div class="d-flex justify-content-between">
      <p class="fs-3 m-0"><%= "Discount (#{@invoice.discount_percentage}%)" %></p>
      <p class="fs-3 m-0"><%= "-#{@percent_discount}" %></p>
    </div>
  <% end %>
  <% unless @invoice.discount_amount.nil? || @invoice.discount_amount.zero? %>
    <div class="d-flex justify-content-between">
      <p class="fs-3 m-0"><%= "Additional Discount" %></p>
      <p class="fs-3 m-0"><%= "-#{@amount_discount}" %></p>
    </div>
  <% end %>
  <% unless @invoice.shipping_fee.nil? || @invoice.shipping_fee.zero? %>
    <div class="d-flex justify-content-between">
      <p class="fs-3 m-0">Shipping Fee</p>
      <p class="fs-3 m-0"><%= @invoice.shipping_fee %></p>
    </div>
  <% end %>
  <hr>
  <div class="d-flex justify-content-between">
    <div class="fs-2">TOTAL:</div>
    <div class="fs-2">HK$ <%= @total %></div>
  </div>
  <div class="fs-4 my-4">
    Thank you for shopping with us.  We hope our artisanal objects will shed some light and warmth in your daily life.
  </div>
  <hr>
  <div class="d-flex justify-content-between mb-3">
    <div class="fs-5"><i class="fa-solid fa-phone"></i>  +852 9511 7552</div>
    <div class="fs-5"><i class="fa-brands fa-instagram"></i>  theobjects_1124</div>
    <div class="fs-5"><i class="fa-regular fa-envelope"></i>  theobjectsatelier@gmail.com</div>
  </div>
</div>
