<div class="table-responsive-sm padding-for-show">
  <table class="table table-striped table-borderless my-4 mt-0">
    <thead>
      <th class="fs-1 px-0 bg-transparent" colspan=5>INVOICE</th>
      <tr>
        <th class="fw-normal p-0 bg-transparent" colspan=3>ORDER DATE: <%= @invoice.order_date %></th>
        <th class="fw-normal p-0 bg-transparent text-end" colspan=2>Order No.: <%= "INV#{@invoice.invoice_number}" %></th>
      </tr>
      <tr>
        <th class="fw-normal p-0 pb-3 bg-transparent" colspan=5>BILLED TO: <%= @invoice.billed_to %></th>
      </tr>
      <tr class="fs-3 text-center">
        <th scope="col" class="align-top bg-transparent">ITEM NO.</th>
        <th scope="col" class="align-top bg-transparent">DESCRIPTION</th>
        <th scope="col" class="align-top bg-transparent">QTY</th>
        <th scope="col" class="align-top bg-transparent">UNIT PRICE</th>
        <th scope="col" class="align-top bg-transparent">AMOUNT(HK$)</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.objects_products.sort.each do |product| %>
        <tr class="fs-3 text-center">
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td><%= product.unit_price %></td>
          <td><%= product.unit_price * product.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="padding-for-show">
  <div class="d-flex justify-content-between">
    <p class="fs-3 m-0">Sub-total</p>
    <p class="fs-3 m-0"><%= @sub_total %></p>
  </div>
  <% unless @invoice.discount_input.nil? || @invoice.discount_input.zero? %>
    <div class="d-flex justify-content-between">
      <p class="fs-3 m-0">Discount <%= @invoice.discount_type == "percentage" ? "(#{@invoice.discount_input}%)" : "" %></p>
      <p class="fs-3 m-0"><%= "-#{@discount}" %></p>
    </div>
  <% end %>
  <% unless @invoice.shipping_fee.nil? || @invoice.shipping_fee.zero? %>
    <div class="d-flex justify-content-between">
      <p class="fs-3 m-0">Shipping Fee</p>
      <p class="fs-3 m-0"><%= @invoice.shipping_fee %></p>
    </div>
  <% end %>
  <hr>
  <div class="d-flex justify-content-between">
    <div class="fs-2">TOTAL:</div>
    <div class="fs-2">HK$ <%= @total %></div>
  </div>
  <div class="fs-4 my-4">
    Thank you for shopping with us.  We hope our artisanal objects will shed some light and warmth in your daily life.
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <div class="fs-5"><i class="fa-solid fa-phone"></i>  +852 9511 7552</div>
    <div class="fs-5"><i class="fa-brands fa-instagram"></i>  theobjects_1124</div>
    <div class="fs-5"><i class="fa-regular fa-envelope"></i>  theobjectsatelier@gmail.com</div>
  </div>
</div>
