<!DOCTYPE html>
<html>
  <head>
    <title>The Objects by 1124</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Linking scss stylesheet %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%# Avoid showing navbar on show page %>
    <% unless params[:action] == 'show' && params[:controller] == 'invoices' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/logo' %>
    <%= yield %>
  </body>
</html>
